---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import HeaderLink from '../../components/HeaderLink.astro';

const { tech } = Astro.props;

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const currentPage = Astro.request.url;
const isActive = (page) => currentPage.includes(page);

// Filtrar publicaciones según la sección activa
const filteredPosts = posts.filter(post => {
    if (tech === 'java') return post.slug.startsWith('java');
    if (tech === 'python') return post.slug.startsWith('python');
    if (tech === 'csharp') return post.slug.startsWith('csharp');
    return false; // Si no hay coincidencias, no se muestran publicaciones
});
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.tech-nav {
				display: flex;
				justify-content: center;
				padding: 0.5rem 0;
				background-color: #f9f9f9;
			}
			nav ul {
				display: flex;
				justify-content: center;
				list-style-type: none;
				padding: 0;
				margin: 0;
			}
			nav ul li {
				margin: 0 0.5rem;
			}
			nav ul li a {
				text-decoration: none;
				color: rgb(var(--black));
				font-size: 1rem;
				padding: 0.25rem 0.5rem;
				display: block;
				transition: color 0.2s ease;
				line-height: 1.2;
			}
			nav ul li a.active {
				color: rgb(var(--accent));
				font-weight: bold;
			}
			nav ul li a:hover {
				color: rgb(var(--accent));
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<nav class="tech-nav">
				<ul>
					<li><a href="/learn/java" class={isActive('/learn/java') ? 'active' : ''}>Java</a></li>
					<li><a href="/learn/python" class={isActive('/learn/python') ? 'active' : ''}>Python</a></li>
					<li><a href="/learn/csharp" class={isActive('/learn/csharp') ? 'active' : ''}>C#</a></li>
				</ul>
			</nav>
		</main>		
		<Footer />
	</body>
</html>
