---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mi"
	description="Un poco de mí y de DevIngenioso"
	pubDate={new Date('August 25 2024')}
	heroImage="/blog-placeholder-about.jpg"
	>
	<p>
		Hola, soy Luis Farrera, estudiante de Ingeniería en Software y apasionado del desarrollo backend, la arquitectura en la nube y el análisis de datos. Actualmente, me encuentro en el último cuatrimestre de mi carrera, y he tenido la oportunidad de trabajar en diversos proyectos integradores que han fortalecido mi conocimiento en la implementación de soluciones tecnológicas avanzadas.
	</p>
	<p>
		Mis principales competencias incluyen el desarrollo de aplicaciones utilizando Java (Spring Boot), Python (Flask y Django), y C# (.NET), así como la gestión de infraestructura en la nube con AWS. Además, tengo experiencia en el análisis de datos con herramientas como TensorFlow y Jupyter, y en la automatización de procesos mediante scripting en Bash, Python y Zsh.
	</p>
	<p>
		A lo largo de mi carrera, he obtenido certificaciones de AWS y el Certificado de Análisis de Datos de Google, que han complementado mi formación académica y profesional. También he trabajado con arquitecturas hexagonales y comunicación entre sistemas mediante RabbitMQ, y tengo experiencia en el análisis y corrección de texto.
	</p>
	<p>
		En mi tiempo libre, soy creador de contenido en los canales de YouTube "Gamer Ingenioso" y "DevIngenioso", donde comparto mis conocimientos en desarrollo y videojuegos.
	</p>
</Layout>
