---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>游눹Hola, Ingenioso!游눹</h1>
			<p>
				Bienvenido al Blog de DevIngenioso, Desarrollo Con Ingenio, donde aprenderemos paso a paso los conceptos b치sicos del mundo de la programaci칩n y noticias relacionadas.
			</p>
			<p>
				Esta p치gina surge como apoyo para el c칩ntenido que estar칠 subiendo a mi canal de youtube, en el cual iremos dando clases de programaci칩n paso a paso desde nuestro primer hola mundo, pasando por programaci칩n orientada a objetos y llegando hasta niveles complejos como lo pueden ser el desarrollo web, la IA o el an치lisis de datos.
			</p>
			<p>
				Espero poder transmitirte un poco del amor que yo tengo a la programaci칩n y animarte a estudiarla m치s a fondo.
			</p>
			<p>
				El sitio tiene las siguientes secciones principales:
			</p>
			<ul>
				<li>
					<a href="/blog">Blog</a> - Un espacio donde comparto pensamientos, opiniones, y an치lisis de datos propios. Aqu칤 encontrar치s reflexiones sobre temas actuales, estudios de casos, y exploraciones t칠cnicas basadas en mi experiencia y conocimientos en desarrollo de software y an치lisis de datos.
				</li>
				<li>
					<a href="/programming/learn/java">Aprender</a> - Aqu칤 encontrar치s tutoriales y gu칤as paso a paso para aprender a programar en cualquiera de los siguientes lenguajes: <a href="https://learn.microsoft.com/en-us/dotnet/csharp/">C#</a>, <a href="https://www.java.com/es/">Java</a>, o <a href="https://www.python.org/">Python</a>, dejando siempre en claro las mejores funcionalidades para cada uno de ellos.
				</li>
				<li>
					<a href="/programming/news">Noticias</a> - Aqu칤 encontrar치s las 칰ltimas noticias relacionadas con el mundo de la programaci칩n, desde nuevas tecnolog칤as hasta eventos importantes.
				</li>
				<li>
					<a href="/about">Sobre mi</a> - Aqu칤 encontrar치s informaci칩n sobre m칤 y sobre el sitio.
				</li>
			</ul>
			
		</main>
		<Footer />
	</body>
</html>
