---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>💻Hola, Ingenioso!💻</h1>
			<p>
				Bienvenido al Blog de DevIngenioso, Desarrollo Con Ingenio, donde aprenderemos paso a paso los conceptos básicos del mundo de la programación y noticias relacionadas.
			</p>
		</main>
		<Footer />
	</body>
</html>
